<h1>All animals</h1>

<ul>
  <% @animals.each do |animal| %>
  <li> <%= link_to animal.name, animal_path(animal) %> <%= "(#{animal.species})" %></li>
  <% end %>
</ul>

<%= link_to "Add an animal", new_animal_path %>
